.invalid-feedback {
    color: red;
    padding-top: 5px;
}
.register-form {
    border: 1px solid gray;
    padding: 30px;
    margin: auto;
    background-color: honeydew;
    width: 50%;
}
.form-group {
    padding: 10px
}
label {
    padding-right: 5px;
}
.form-control {
    width: 250px;
    height: 20px;
}